body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f39c12;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.game {
    margin: 30px auto;
    border: 2px solid #f39c12;
    padding: 20px;
    width: 850px;
    background-color: #2c2c2c;
}

iframe {
    width: 800px;
    height: 600px;
    border: none;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
}
